.st0 {
  fill: var(--illustrationBackgorund);
}
.st1 {
  fill: #4a4a4a;
}
.st2 {
  fill: #ffdbb4;
}
.st3 {
  fill: url(#hair-back_1_);
}
.st4 {
  fill: #353535;
}
.st5 {
  fill: #141414;
}
.st6 {
  fill: none;
  stroke: #000000;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.st7 {
  fill: none;
  stroke: #808080;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
.st8 {
  fill: none;
  stroke: #c19d78;
  stroke-width: 2;
  stroke-miterlimit: 10;
}
.st9 {
  fill: #1a1a1a;
  stroke: #000000;
  stroke-miterlimit: 10;
}
.st10 {
  stroke: #000000;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.st11 {
  fill: #6a5acd;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.st12 {
  fill: #59ea83;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.st13 {
  fill: #ffab41;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
.st14 {
  fill: #ff6660;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-miterlimit: 10;
}
